.figure__caption {
  max-width: 158px;
  color: #ffffff;
  font-size: 10px;
  line-height: 1.4;
  margin-top: 8px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1023px) {
  .figure__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .figure__caption {
    margin-left: 16px;
  }
}