.place__link {
  width: max-content;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.place__link:hover {
  opacity: 0.8;
}